In [1]:
import pandas as pd
train_file_name = "train.csv"
train_data = pd.read_csv(train_file_name)
test_file_name = "test.csv"
test_data = pd.read_csv(test_file_name)

In [2]:
train_data.head(4)

,order_id,cred_sum_cc_all,mfo_inqs_count_month,all_closed_creds_sum_all,bank_inqs_count_quarter,cred_max_overdue_max_ly,all_active_creds_sum_all,mfo_last_days_all,cred_sum_cc_ly,cred_sum_debt_all_all,...,cred_max_overdue_max_3lm,mfo_closed_count_ly,cred_sum_overdue_cc_all,count_overdue_all_3lm,all_creds_count_lm,work_code,month_income,region,bad,approved
0,5498546,0.0,0,40364,0,0.0,3000,560,0.0,0.0,...,0.0,0,0.00,0,0,3,50000,46,NaN,0
1,5498604,1500.0,0,23456,0,0.0,0,9999,0.0,0.0,...,0.0,0,0.00,0,0,3,35000,17,NaN,0
2,5498609,0.1,0,17999,3,0.0,9999,9999,0.1,9999.0,...,0.0,0,0.00,0,2,3,35000,58,NaN,0
3,5498645,5000.0,0,313247,0,0.0,0,9999,0.0,0.0,...,0.0,0,4923.97,0,0,5,35000,4,NaN,0

# Модель 1

In [3]:
train_data_first_model = train_data.dropna()
test_data_first_model = test_data.dropna()

In [4]:
y = train_data_first_model["bad"]
X = train_data_first_model.drop(['bad', "approved"], axis=1)

In [5]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline

pipeline = make_pipeline(StandardScaler(), LogisticRegression(random_state=1, class_weight={1:0.6, 0:0.3}))
pipeline.fit(X, y)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression',
                 LogisticRegression(class_weight={0: 0.3, 1: 0.6},
                                    random_state=1))])

In [6]:
y_test = test_data_first_model["bad"]
X_test = test_data_first_model.drop(['bad', "approved"], axis=1)

In [7]:
pipeline.score(X_test, y_test)

0.7024128686327078

In [8]:
predict = pipeline.predict(X_test)

In [9]:
from sklearn import metrics
metrics.recall_score(y_test, predict)

0.2222222222222222

In [10]:
metrics.precision_score(y_test, predict)

0.39285714285714285

In [21]:
count_model_1 = 0
for i, j in zip(y_test, predict):
    if i != j:
        count_model_1 += 1
print(count_model_1/len(y_test))

0.2975871313672922

# Модель 2

In [12]:
y_model_2 = train_data["approved"]
X_model_2 = train_data.drop(['bad', "approved"], axis=1)

In [13]:
model_2_pipe = make_pipeline(StandardScaler(), LogisticRegression(random_state=1))

In [14]:
model_2_pipe.fit(X_model_2, y_model_2)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression(random_state=1))])

In [15]:
y_test_model_2 = test_data["approved"]
X_test_model_2 = test_data.drop(['bad', "approved"], axis=1)

In [16]:
model_2_pipe.score(X_test_model_2, y_test_model_2)

0.7996715927750411

In [17]:
predict_model_2 = model_2_pipe.predict(X_test_model_2)
metrics.recall_score(y_test_model_2, predict_model_2)

0.5442359249329759

In [18]:
metrics.precision_score(y_test_model_2, predict_model_2)

0.7328519855595668

In [25]:
count = 0
for i, j in zip(y_test_model_2, predict_model_2):
    if i != j:
        count += 1
#         print(f"true : {i}, pred : {j}")
print(count/len(y_test_model_2))
x_x_x = X_test_model_2[0:10]
model_2_pipe.predict_log_proba(x_x_x)
# model_2_pipe.predict(x_x_x)

0.20032840722495895

array([[-3.53948085e-03, -5.64554443e+00],
       [-1.37276602e-01, -2.05361062e+00],
       [-2.27443371e+00, -1.08537934e-01],
       [-4.74043219e-02, -3.07265041e+00],
       [-5.04550615e-01, -9.25777698e-01],
       [-4.47338084e-01, -1.01978556e+00],
       [-1.23766050e+00, -3.42577670e-01],
       [-1.93322128e-01, -1.73850175e+00],
       [-3.10923469e-02, -3.48629946e+00],
       [-1.60215148e-01, -1.91027596e+00]])